<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @*@Styles.Render("~/Content/easyui")*@
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("head", required: false)
</head>
<body class="easyui-layout">
    <!--north -->
    <div data-options="region:'north',border:false,split:true" style="height:60px;">
        <div class="define-head">
            <div class="define-logo">
                <div id="LoginTopLine">System Manage</div>
                <div id="LoginBotoomLine">MVC4+EF5.0+EasyUI</div>
            </div>
            <div class="define-account">
                
            </div>
        </div>
    </div>
    <!--west -->
    <div data-options="region:'west',split:true,title:'菜单列表'" style="width: 200px; height:100%; padding-top: 2px; background-color:#fff; overflow:auto">
        <div id="RightTree" style="background-color:#fff;">
            <div class="panel-loading">加载中...</div>
        </div>
    </div>
    <!--south-->
    <div data-options="region:'south',border:false" style="height: 20px;">
        <div class="define-bottom">

            south
        </div>
    </div>
    <!--center-->
    <div data-options="region:'center',border:false" style="height:100%;">
        <div id="mainTab" class="easyui-tabs" data-options="fit:true">
            <div title="我的桌面" data-options="closable:true" style="overflow: hidden; background:#fff">
                <iframe scrolling="auto" frameborder="0" src="" style="width: 100%; height: 100%;"></iframe>
            </div>
        </div>
    </div>

    <div id="tab_menu" class="easyui-menu" style="width: 150px;">
        <div id="tab_menu-tabrefresh" data-options="iconCls:'icon-reload'">
            刷新
        </div>
        <div id="tab_menu-openFrame">
            在新的窗体打开
        </div>
        <div id="tab_menu-tabcloseall">
            关闭所有
        </div>
        <div id="tab_menu-tabcloseother">
            关闭其他标签页
        </div>
        <div class="menu-sep">
        </div>
        <div id="tab_menu-tabcloseright">
            关闭右边
        </div>
        <div id="tab_menu-tabcloseleft">
            关闭左边
        </div>
        <div id="tab_menu-tabclose" data-options="iconCls:'icon-remove'">
            关闭
        </div>
        <div id="menu" class="easyui-menu" style="width: 150px;">
        </div>
    </div>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("应用程序名称", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("主页", "Index", "Home")</li>
                        <li>@Html.ActionLink("关于", "About", "Home")</li>
                        <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
            </footer>
        </div>*@
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    <!-- @Scripts.Render("~/bundles/bootstrap")-->
    @*@Scripts.Render("~/bundles/easyui")*@
    @Scripts.Render("~/bundles/easyloader")
    <script src="@Url.Content("~/Scripts/Home/index.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
